.container {
    width: 42px;
    height: 24px;
    border: 1.5px solid #53c28b70;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    cursor: pointer;
    position: relative;
}

.icon {
    font-size: 12px;
}

.ball {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    background-color: green;
}