.container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.imgItem {
    flex: 1;
    height: 400px;
    position: relative;
}

.form {
    flex: 1;
}

.img {
    object-fit: contain;
    animation: move 3s infinite ease alternate;
}

@keyframes move {
    form {
        transform: translateY(-15px);
    }

    to {
        transform: translateY(0px) scale(1.03);
    }
}

.input {
    width: 100%;
    font-size: 16px;
    padding: 12px 10px;
    margin-bottom: 12px;
    border: 0;
}

.input:focus,
.textArea:focus {
    outline: none;
}

.textArea {
    width: 100%;
    height: 200px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 10px;
    margin-bottom: 12px;
}