.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.links ul a {
    display: inline-block;
    font-size: 16px;
    padding: 8px 11px;
}

.logOut {
    padding: 8px 16px;
    display: inline-block;
    font-size: 16px;
    background: #3498db;
    border: 0;
    color: #fff;
    cursor: pointer;
}

/* Logo styles  */
.logo a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}