.container {
    display: flex;
    justify-content: space-between;
}

.social_icon {
    display: flex;
    align-items: center;
    gap: 7px;
}

.icon {
    width: 20px;
    height: 20px;
    position: relative;
}

.content {
    font-size: 14px;
}